.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 3px;
  padding: 0.5rem;
  margin-bottom: 2rem;
}

h4 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.field > input {
  width: 250px;
  background: #ddd;
  border-radius: 5px;
  height: 3px;
  outline: none;
  border: none;
  cursor: pointer;
}
