.select-algorithms {
  width: 15vw;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  outline: none;
  border: unset;
  border-bottom: 3px solid royalblue;
  font-family: inherit;
}

select {
  margin-bottom: 2rem;
}

@media screen and (max-width: 1450px) {
  .select-algorithms {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .select-algorithms {
    font-size: 1rem;
  }
}
