.Algobutton {
  padding: 10px 20px;
  background-color: white;
  color: royalblue;
  border: 3px solid royalblue;
  border-radius: 10px;
  font-size: 16px;
  font-family: inherit;
}

.Algobutton:hover {
  cursor: pointer;
  background-color: #72d2ff;
}

body {
  background-color: rgb(72, 72, 72);
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container p {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  font-family: "inter", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
}

.array-display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 75vw;
  transform: rotate(180deg);
  height: 75vh;
  margin-right: 100px;
}

@media screen and (max-width: 1450px) {
  .Algobutton {
    padding: 7px 15px;
    font-size: 12px;
  }
}

/* @media screen and (max-width: 1000px) {

    .Algobutton {
		padding: 10px 20px;
		font-size: 16px;
	}
} */
