.Algobutton {
  padding: 10px 20px;
  background-color: white;
  color: royalblue;
  border: 3px solid royalblue;
  border-radius: 10px;
  font-size: 16px;
  font-family: inherit;
}

.Algobutton:hover {
  cursor: pointer;
}

body {
  background-color: rgb(230, 230, 230);
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.array-display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 75vw;
}

@media screen and (max-width: 1450px) {
  .Algobutton {
    padding: 7px 15px;
    font-size: 12px;
  }
}

/* @media screen and (max-width: 1000px) {

    .Algobutton {
		padding: 10px 20px;
		font-size: 16px;
	}
} */
